<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>User Details</h1>
    <h2>{{object}}</h2>
    <ul>
        {% for item in iterable %}
        <li>{{ item.name|title }} -- <img src="{{ item.photoUrl }}" alt="{{ item.name }}" /> -- {{ item.rating|default:"N/A" }} -{{ item.user|default:"Anonymous" }}- {{ item.created_at|date:"Y-m-d" }}</li>
        {% endfor %}
    </ul>

     <h2>Add New {{object}}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form> 
</body>
</html>