<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%if user == 0 %}
    <a href = 'http://127.0.0.1:8000/api/login'>
        <button >Sign In</button>
    </a>
    <a href = 'http://127.0.0.1:8000/api/register'>
        <button >Sign Up</button>
    </a>
    {% else %}
    <a href = 'http://127.0.0.1:8000/api/logout'>
        <button >Log Out</button>
    </a>
    {%endif%}



            <div class = "products">

            {% for product in iterable %}
              <div  class = "product">
                <div>
                  
                        <img class="product-photo" [src]="{{product.photoUrl}}">
                        <h3>
                            
                                {{ product.name }}
                        </h3>
                        <p>
                            Description: {{ product.description }}
                        </p>
                     

                    <div class ="share">
            {% endfor %}
          </div>
      </div>
      
  </div>
</div>

</body>
</html>
