{% extends 'base.html' %}

{% block content %}
<style>
    .list {
         list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto; /* Center the list */
        max-width: 960px;
    }
    .manga {
       border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;
        overflow: hidden;
        width: calc(33.333% - 20px);
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }
    .manga:hover {
        transform: scale(1.05);
    }
    img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
    }
    a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
    }
    a:hover {
        background-color: #eee;
    }
    @media (max-width: 980px) {
        .manga {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 640px) {
        .manga {
            width: calc(100% - 20px);
        }
    }
</style>
<h2>Manga List</h2>
<ul class = "list">
  {% for manga in mangas %}
    <li class = "manga">
        <img src="{{ manga.cover_image.url }}" alt="{{ manga.title }} Cover" width="131" height="179">
        <a href="{% url 'manga_detail' manga.id %}">{{ manga.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
