<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <h2>{{ object_type }}</h2>
    {% if object_type == 'Books' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Book</button>
        </form>
    {% endif %}
    <ul>
        {% for object in objects %}
            <li>{{ object.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
