body {
  background: white;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Prompt';
}
#no{
  font-size: 25px;
  font-family: 'Prompt';
}
.review-block {

  margin-bottom: 18px;
  width: 663px;
  /* height: 231px; */
  /* margin: 3em auto; */


  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  background-size: cover;
}
.review-content {
  text-align: left;
  vertical-align: top;
  font-size: 17px;
  font-family: Prompt;
  /*line-height: ;*/
  color: #000000;
}
.user-info{
  margin-bottom: 10px;
}
.user-review-rating img {
  padding-top:0px;
  width: 15px;
  height: auto;
}
