<div class="review-block" *ngFor="let review of reviews">
  <div class="review-content">
    <h4 class="user-info">
      <a class="profile-link" href="#">{{review.user_name}}</a>
      's review
    </h4>
    <hr style="height:1px;border-width:0;color:black;margin-top: 0em;margin-bottom: 0em;background-color:black">
    <p class="user-review-text">
      {{review.review}}
<!--      {{review.review}}-->
      <!-- As I've said before, I'm not really a big fan of dystopia,
      but I can see why this book is so popular - the dystopic world
      is really well constructed and everything appears to be thought of to the point where it is
      weirdly realistic? Yeah it's cool, I enjoyed it -->
    </p>
    <p class="user-review-rating">
      {{review.rating}}
      <img src="/assets/star.png" alt="image" class="star">
    </p>
  </div>
</div>
<div *ngIf="reviews.length==0" id="no">
    There is no reviews yet, but you can be the first!
</div>
