<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Our Products:</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name|name }} - {{ product.brand|brand }}</li>
        {% endfor %}
    </ul>
    <h4>Add Product</h4>
    <h4>Add Category</h4>
    <h4>Add Brand</h4>
</body>
</html>