{% extends 'base.html' %}
{% block title%} View Order {%endblock%}
{% block body %}
<div class="row m-2">
    <div class="col-md-12">
        <h4 class="bg-danger text-white p-2">My Orders</h4>
        {% for x in products %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{x.product.image.url}}" style="height: 250px; width:300px;" alt="product">
            </div>
            <div class="col-md-8">
                    <p><b>Order ID: {{x.order_id}}</b></p>
                    <p><b>Product Name: </b> {{x.product.prod_name}}</p>
                    <p><b>Product Category: </b> {{x.product.category}}</p>
                    <p><b>Product Price: </b> {{x.product.price}} </p>
                    <p><b>Product Description: </b> {{x.product.desc}}</p>
                    <p><b>Quantity: </b>{{x.quantity}}</p>
                    <a href="{%url 'addCart' x.product.product_id %}" class="btn btn-danger">Repeat Order</a>
            </div>
        </div>
        {%endfor%}
{%endblock%}