<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>
    <h1>Create Course</h1>
    <form action="{% url 'create_course' %}" method="post">
        {% csrf_token %}
         <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <button type="submit">Create Course</button>
    </form>
</body>
</html>
