{% extends 'app/base.html' %}
{% load app_tags %}


{% block content %}
    <div style="display: flex;
    align-items: center; margin-bottom: 20px; border: 2px solid; padding: 20px 100px">
        <img src="{{group.photo.url}}" width="200px" >
        <div style="margin-left: 20px;">
            <h1>{{group.name}}</h1>
            <p>{{group.description}}</p>
        </div>

    </div>


    {% for p in Posts %}
    <a href="{% url 'postpage' p.id %}" style="text-decoration: none;  color: inherit;">
    <div style="background-color: gray; padding: 20px">
    <h1><img src="{{p.user | ava}}" width="30px">
    {{group.name}}</h1>
        <p><img src="{{p.id | postimage}}" width="400px"></p>
        {{p.text}}
    <h5>{{p.updated_at | dateTime}}</h5>
        <button>Лайки:</button> {{p.id | likes}} <button>Комменты:</button> {{p.id | coms }}
    </div>
        </a>
    </br>
    {% endfor %}
{% endblock %}