{% extends 'app/base.html' %}
{% load app_tags %}


{% block content %}
    <div style="display: flex;
    align-items: center; margin-bottom: 20px; border: 2px solid; padding: 20px 100px">
        <img src="{{user.user | ava }}" width="200px" >
        <div style="margin-left: 20px;">
            <h1>{{user.name}} {{user.surname}}</h1>
            <p>{{user.description}}</p>
            {% if is_me %}
                <button onclick="location.href='{% url 'changeUserInfo' %}'">Изменить</button>
            {% endif %}
        </div>

    </div>

    {% if is_me %}
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ image_form.as_p }}
            {{ post_form.as_p }}
        <button type="submit">готово</button>
        </form>
    {% endif %}


    {% for p in Posts %}
    <a href="{% url 'postpage' p.id %}" style="text-decoration: none;  color: inherit;">
    <div style="background-color: gray; padding: 20px">
    <h1><img src="{{p.user | ava}}" width="30px">
    {{p.user | AuthorName}}</h1>
        <p><img src="{{p.id | postimage}}" width="400px"></p>
        {{p.text}}
    <h5>{{p.updated_at | dateTime}}</h5>
        <button>Лайки:</button> {{p.id | likes}} <button>Комменты:</button> {{p.id | coms }}
    </div>
        </a>
    </br>
    {% endfor %}
{% endblock %}