{% load product_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Product Details</h1>
        <div>
            <p>Name: {{ product_data.name }} </p>
            <p>Price: {{ product_data.price | format_price }}</p>
            <p>Brand: {{ product_data.brand}}</p>
            <p>Category: {{ product_data.category }}</p>
            <p>Description: {{ product_data.description | truncate_description }}</p>
            

            <form action="{% url 'order_list' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product_data.id }}">
                <button type="submit">Add to Order</button>
            </form>
            
        </div>
    </div>
    
    <a href="{% url 'products_list' %}">Go back</a>
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>
