{% load product_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Product Details</h1>
        <div class="product-info">
            <div class="product-details">
                <p><strong>Name:</strong> {{ product_data.name }}</p>
                <p><strong>Brand:</strong> {{ product_data.brand}}</p>
                <p><strong>Description:</strong> {{ product_data.description | truncate_description }}</p>
                <p><strong>Price:</strong> {{ product_data.price | format_price }}</p>
                <p><strong>Category:</strong> {{ product_data.category }}</p>

                <form action="{% url 'order_list' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product_data.id }}">
                    <button type="submit">Add to Favorites</button>
                </form>
            </div>
        </div>
    </div>
    <a href="{% url 'products_list' %}">Go back</a>
    <p>Go back to <a href="{% url 'home' %}">home page</a>.</p>
</body>
</html>
