<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expensive Products</title>
</head>
<body>
    <h1>Expensive Products</h1>
    <ul>
        {% for product in expensive_products %}
            {% if product.price > 1000 %}
                <li>{{ product.name }} - {{ product.price }}tg</li>
            {% endif %}
        {% empty %}
            <li>No expensive products found.</li>
        {% endfor %}
    </ul>
</body>
</html>
