<!--{% extends 'basic.html' %}-->
<!--{% load static %}-->

<!--{% block title %}CRUD Schedule - My Website{% endblock %}-->

<!--{% block content %}-->
<!--    <link rel="stylesheet" href="{% static 'css/crud_schedule.css' %}">-->
<!--    <div class="container">-->
<!--        <h2>CRUD Schedule</h2>-->

<!--        &lt;!&ndash; Form for adding new schedule &ndash;&gt;-->
<!--        <form action="{% url 'add_schedule' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            <label for="time_slot">Time:</label>-->
<!--            <input type="text" id="time_slot" name="time_slot" required>-->
<!--            <label for="discipline">Discipline:</label>-->
<!--            <input type="text" id="discipline" name="discipline" required>-->
<!--            <button type="submit">Add Schedule</button>-->
<!--        </form>-->

<!--        &lt;!&ndash; Table for displaying current schedule &ndash;&gt;-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>Time</th>-->
<!--                    <th>Discipline</th>-->
<!--                    <th>Action</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--&lt;!&ndash;                {% for schedule_entry in schedule %}&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>{{ schedule_entry.time }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>{{ schedule_entry.discipline }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="{% url 'edit_schedule' schedule_entry.id %}">Edit</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="{% url 'delete_schedule' schedule_entry.id %}">Delete</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--{% endblock %}-->
