{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <div class="profile-details">
        <h2>Welcome, {{ object.name }} {{ object.surname }}</h2>
        {% if object %}
            {% if type == 'Student' %}
                <table class="profile-table">
                    <tr>
                        <th>Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ object.surname }}</td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{{ object.id }}</td>
                    </tr>
                    <tr>
                        <th>GPA</th>
                        <td>{{ object.gpa }}</td>
                    </tr>
                    <tr>
                        <th>Speciality</th>
                        <td>{{ object.speciality }}</td>
                    </tr>
                    <tr>
                        <th>Course</th>
                        <td>{{ object.course }}</td>
                    </tr>
                    <tr>
                        <th>Disciplines</th>
                        <td>
                            <ul>
                                {% for discipline in object.disciplines.all %}
                                    <li>{{ discipline }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td class="login-details">{{ object.login }}</td>
                    </tr>
                </table>
            {% else %}
                <table class="profile-table">
                    <tr>
                        <th>Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ object.surname }}</td>
                    </tr>
                    <tr>
                        <th>Degree</th>
                        <td>{{ object.degree }}</td>
                    </tr>
                    <tr>
                        <th>Year of Experience</th>
                        <td>{{ object.year_of_experience }}</td>
                    </tr>
                    <tr>
                        <th>Disciplines</th>
                        <td>
                            <ul>
                                {% for discipline in object.disciplines.all %}
                                    <li>{{ discipline }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td class="login-details">{{ object.login }}</td>
                    </tr>
                </table>
            {% endif %}
        {% else %}
            <p>Admin</p>
        {% endif %}
    </div>
{% endblock %}