<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Name: {{product.name}}<br>
    Price: {{product.price}}<br>

    <h2>Available Shops:</h2>
    <ul>
        {% for shop in product.shop.all %}
            <li>{{ shop.name }} - {{ shop.city }}</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <form>
            <textarea placeholder="Your review" rows="5" cols="50"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}

</body>
</html>