<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop List</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="mb-4">Shops with Goods</h1>
        <ul class="list-group mb-4">
            {% for shop in shops_with_goods %}
                <li class="list-group-item">{{ shop.name }} - {{ shop.location }}</li>
            {% endfor %}
        </ul>

        <h1 class="mb-4">Ordered Shops by Location</h1>
        <ul class="list-group">
            {% for shop in ordered_shops %}
                <li class="list-group-item">{{ shop.name }} - {{ shop.location }}</li>
            {% endfor %}
        </ul>

        <h2 class="mt-5">Create New Shop</h2>
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="location" class="form-label">Location:</label>
                <input type="text" id="location" name="location" class="form-control">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create Shop</button>
            </div>
        </form>
    </div>
</body>
</html>