<div class="main">
  <div class="main_left">
    <p class="main_left_title">
      Контактная информация
    </p>
    <p class="main_left_txt">
      +77777777777
    </p>
    <p class="main_left_txt">
      love@mebel.kz
    </p>
    <p class="main_left_txt">
      Перезвоните мне
    </p>
    <p class="main_left_txt">
      Задать вопрос
    </p>
    <p class="main_left_txt">
      Контакты
    </p>
    <p class="main_left_txt">
      Обращение в отдел качества
    </p>
    <p class="main_left_txt">
      Написать руководству
    </p>
    <img class="main_left_logo" src="https://cdn2.divan.ru/app/v1/node/website/a1441b2249fbfb2dcc74.svg">
  </div>
  <div class="main_right">
    <p class="main_right_title">
      Режим работы Call-Центра
    </p>
    <p class="main_right_txt">
      ежедневно с 11:00 до 00:00
    </p>
    <p class="main_right_title">
      Доставка заказов
    </p>
    <p class="main_right_txt">
      ежедневно с 9:00 до 23:00
    </p>
<!--    <p class="main_right_title">-->
<!--      Подписаться на рассылку-->
<!--    </p>-->
<!--    <input class="main_right_input" type="txt" placeholder="Введите ваш Email">-->
  </div>
</div>
