<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add Student</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Student</button>
    </form>

    <h3>Students</h3>
    <ul>
    {% for student in students %}
        <li>name = {{ student.FirstName}}, {{ student.LastName}}</li>
    {% endfor %}
    </ul>
</body>
</html>


