<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">

</head>
<body>
    <form method="POST" action="categories/add">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="text" name="description">
        <button type="submit">submit</button>
    </form>
    {% for category in categories %}
    <table>
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>