{% load utils %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/user/">User</a></li>
            <li><a href="/logout/">Log Out</a></li>
                {% if request.user.role|lower == 'instructor' %} 
                <li><a href="http://127.0.0.1:8000/instructor/courses">My Courses</a></li>
                {% else %}
                <li><a href="student/courses">My Courses</a></li>
                {% endif %}
            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/signup/">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>