<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2 class="mt-5 mb-4">Create Gist</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="Name" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" name="Code" id="code" placeholder="code">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<ul>
    {% for item in form %}
        <li>{{ item.Name }}</li>
        <li>{{ item.Code }}</li>
        <br>
    {% endfor %}
</ul>
</body>
</html>