<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2 class="mt-5 mb-4">Create Gist</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="Name" id="name" placeholder="Enter gist name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="Description" id="description" placeholder="Enter description">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<ul>
    {% for item in form %}
        <li>{{ item.ID }}</li>
        <li>{{ item.Name }}</li>
        <li>{{ item.Description }}</li>
         <li>{{ item.Visible }}</li>
         <li>{{ item.IsForked }}</li>
         <li>{{ item.CreatedAt }}</li>
        <br>
    {% endfor %}
</ul>
</body>
</html>