<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Login">
    </form>
    <p>If you have an account, <a href="{% url 'login' %}">Login here</a>.</p>
    <p>If you don't have an account, <a href="{% url 'register' %}">register here</a>.</p>
    <p>Go back to <a href="{% url 'home' %}">home page</a>.</p>
</body>
</html>
