<nav class="navbar navbar-expand-lg bg-body-tertiary mt-1">
    <div class="container">
      <a class="navbar-brand" href="{%url 'movie_app:homepage' %}">MovieApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'movie_app:homepage'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'movie_app:most_popular_movies'%}">Most Popular</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              {%for category in categories%}
              <li><a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.title}}</a></li>
              {%endfor%}
            </ul>
          </li>
        </ul>
        {%include 'movie_app/components/navbar-account.html'%}
        <form class="d-flex" role="search" method="GET" action="/s">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>