<div class="row">
    <div class="col-sm-12 mt-5">
        {% if pagination_object.paginator %}
        <nav>
            <div class="col-sm-12">
                <ul class="pagination d-flex justify-content-center">
                    {% if pagination_object.has_previous %}
                    <li class="page-item"><a class="page-link" href="?search={{search_term}}&page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="?search={{search_term}}&page={{ pagination_object.previous_page_number }}">Previous Page</a></li>
                    {% endif %}
            
            
                    {% if pagination_object.has_next %}
                        <li class="page-item"><a class="page-link" href="?search={{search_term}}&page={{ pagination_object.next_page_number }}">Next Page</a></li>
                        <li class="page-item"><a class="page-link" href="?search={{search_term}}&page={{ pagination_object.paginator.num_pages }}">{{pagination_object.paginator.num_pages}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endif %}   
    </div>
</div>