{% extends 'base.html' %}
{% block content %}

    <p>User: {{ profile.user.username }}</p>

    <p>Bio: {{ profile.bio }}</p>

    <p>Number of Followers:{{ follower_count }}<p>
    <br>
    <p>Followers:<p>
    <ul>
        {% for follower in followers %}
            <li>{{ follower.follower.username }}</li>
        {% endfor %}
    </ul>
    <p>Articles by {{ profile.user.username }}:<p>
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}
            <br>
            topic:{{article.topic}}
            <br>
            short description: {{article.short_description}}

            </li>
        {% endfor %}
    </ul>


    <a href="{% url 'readinglists' %}">Check {{profile.user.username}}'s reading list</a>
    <br>
    {% if request.user.is_authenticated and request.user == profile.user %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% endif %}
{%endblock%}