{% extends 'base.html' %}
{% block content %}

{% load custom_filters %}

    <h1>Hot topic of the week - Feminism!</h1>
    <ul>
        {% for article in articles_by_hot_topic %}
            <li>
                <h2><a href="{% url 'article_detail' article.pk %}">"{{ article.title }}"" </a> article written by {{article.author}}</h2>

                <p><strong>Author:</strong> {{ article.author }}</p>
                <p><strong>Short Description:</strong> {{ article.short_description }}</p>
                <p><strong>Date Created:</strong> {{ article.date_created|format_date:"%Y-%m-%d" }}</p>
                <hr>
                <p>{{ article.body|truncate:100 }}</p>
            </li>
        {% empty %}
            <li>No articles found on feminism.</li>
        {% endfor %}
    </ul>
{%endblock%}
