.nav li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 25px;
}


.nav li a {
    color: #000;
    text-decoration: none;
    }
.nav li.active a {
    color: #00f; /* Change color for active tab */
}

.nav {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  
  li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 25px;
  }