{% load utils %}

<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <h2>Product List</h2>
            <div class = "products">
            {% for product in products|sort_by_name:"name" %}
              <div  class = "product">
                <div>
                  
                        <img class="product-photo" [src]="{{product.photoUrl}}">
                        <strong>{{ product.name | capitalize}}</strong><br>
                        Description: {{ product.description }}<br>
                        Total Likes: {{ product.total_likes }}<br>
                        Total Comments: {{ product.total_comments }}
                     

                    <div class ="share">
            {% endfor %}
          </div>
      </div>
      
  </div>
</div>

</body>
</html>