{% extends 'base.html' %}


{% block content %}
<h1>Feel Good Coffee</h1>
<div class="row">
    {% for coffee in coffee %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ coffee.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ coffee.name }}</h5>
                    <p class="card-text">{{ coffee.price }}tg</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}