<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        <ul>
            <div>
                {% for computer in computers %}
                    <h2>Name: {{ computer.name }}</h2>
                    <li>Year: {{ computer.year }}</li>
                    <li>Price: {{ computer.price }} KZT</li>
                {% endfor %}
            </div>
        </ul>
    </form>
</body>
</html>