<div class="col-md-3 mt-5">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{%url 'movie_app:update_profile_view'%}" class="link-dark">Change Profile Info</a>
        </li>
        <li class="list-group-item">
            <a href="{%url 'movie_app:change_password'%}" class="link-dark">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="{%url 'movie_app:delete_account_view'%}" class="link-dark">Delete Account</a>
        </li>
      </ul>
</div>