{% load thumbnail %}
{%if movie_comments%}
<div class="col-sm-12 mt-1">
    <div class="row">
    {%for comment in movie_comments%}
    <div class="col-sm-12 mt-3 p-5 border  rounded-4">
        <div class="col-sm-12 mt-2">
            <a href="{{comment.movie.get_absolute_url}}" class="link-dark">
                <div class="col-sm-12 mb-3">
                    <b>Movie: {{comment.movie.title}}</b> - {%for genre in comment.movie.genre.all%} <a href="{{genre.get_absolute_url}}"><span class="badge rounded-pill text-bg-dark">{{genre.title}}</span></a>{%endfor%}
                </a>
                </div>
                <img src="{{comment.user.profile.avatar|thumbnail_url:'micro-avatar'}}" class="img-thumbnail rounded-circle" alt="{{comment.user.username}} avatar"> <b class="ms-1">{{comment.user.username}}:</b>
            </a>
        </div>
        <div class="col-sm-12 my-3">
            <a href="{{comment.movie.get_absolute_url}}" class="link-dark">{{comment.comment}}</a>
        </div>
    </div>
        {%endfor%}
    </div>
</div>
{%endif%}