<h2>Doctor List</h2>

<div *ngIf="doctors.length === 0">
  <p>No doctors found with the specified specialty.</p>
</div>
<ul>
  <li *ngFor="let doctor of doctors">
    <div (click)="viewDoctorDetails(doctor)">
      <strong>First Name:</strong> {{ doctor.first_name }}
    </div>
    <div>
        <strong>Last Name:</strong> {{ doctor.lastName }}
    </div>
    <div>
        <strong>Specialty:</strong> {{ doctor.specialty_name }}
    </div>
    <div>
        <strong>Clinic location:</strong> {{ doctor.clinic_location }}
    </div>
    <div>
      <strong>License status:</strong> {{ doctor.license_status }}
  </div>
  </li>
</ul>
<div>
  <button (click)="goHome()">Home</button>
</div>