.main {
  width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  margin-top: 100px;
  padding: 20px;

  &_images {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

    &_img {
      width: 280px;
    }
  }

  &_underTitle {
    font-family: "Book Antiqua";
    font-size: 30px;
    margin-left: 50px;

  }

  &_underTitle2 {
    font-family: "Book Antiqua";
    font-size: 24px;
    margin-left: 50px;
  }

  &_title {
    margin-left: auto;
    margin-right: auto;
    font-family: Bahnschrift;
    font-size: 36px;
    color: #443b3b;
    margin-bottom: 0;
  }

  &_title2 {
    margin-left: auto;
    margin-right: auto;
    font-family: Bahnschrift;
    font-size: 24px;
    color: #443b3b;

  }

  &_box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 1400px;

    &_img {
      background-color: #726767;
      opacity: 0.9;
      margin-left: 50px;
      border-radius: 20px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      border-radius: 1px;
      width: 1000px;
      padding: 20px;

      &_znak {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 30px;
        color: black;
      }

      &_txt {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        font-family: "Book Antiqua";
      }
    }
  }

  &_Under {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 50px;

    &_box {
      display: flex;
      flex-direction: row;

      &_img {
        width: 600px;
        height: 450px;
      }

      &_txtblock {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        &_title{
          margin-right: auto;
          font-size: 34px;

        }
        &_txt{
          margin-right: auto;
          font-size: 24px;
        }
      }

    }
  }
}
