<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookstore Management System{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bookstore Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">Book List</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
