{% extends 'base.html' %}
{% block content %}

{% load custom_filters %}

<h1>{{ article.title }}</h1>
<p><strong>Author:</strong> {{ article.author }}</p>
<p><strong>Topic:</strong> {{ article.topic }}</p>
<p><strong>Date Created:</strong> {{ article.date_created|format_date:"%Y-%m-%d" }}</p>
<p><strong>Short Description:</strong> {{ article.short_description }}</p>
<hr>
<p>{{ article.body|truncate:100 }}</p>
    <!-- Add to Reading List Button -->
    <form method="post" action="{% url 'add_to_reading_list' article.pk %}">
        {% csrf_token %}
        <button type="submit">Add to Reading List</button>
    </form>
<p><strong>Likes:</strong> {{ like_count }}</p>

<a href="{% url 'liked_users' article.pk %}">Check which users liked this article</a>
<form action="{% url 'add_likes' article.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Like</button>
</form>

<p><strong>Comments:</strong> {{ comment_count }}</p>

<a href="{% url 'article_comments' article.pk %}">Check what other users commented on this article</a>
<br>


<a href="{% url 'add_comments' article.pk %}">Add Comment</a>


<br>
{%endblock%}