<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello
        </title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>It's a <s>small</s> big world, here we collect data on countries and cities around the globe:</p>
        <a href="views/countries">Countries</a><br>
        <a href="views/cities">Cities</a><br>
        <a href="views/presidents">Presidents</a><br>
        <a href="views/citizens">Citizens:</a><br>
        <ul>
            <li><a href="views/adults">Adults</a><br></li>
            <li><a href="views/children">Children</a><br></li>
        </ul>
        <p>If you'd like to share your knowledge with us, go right ahead.<br><b>Add a new:</b></p>
        <a href="forms/country">Country</a><br>
        <a href="forms/city">City</a><br>
        <a href="forms/president">President</a><br>
        <a href="forms/citizen">Citizen</a><br>
    </body>
</html>