{%extends 'base.html '%}
{%block content%}
<div class="cart-card-wrapper">
	{%for product in items%}
	<div class="cart-card">
		<img src="{{product.prodcut.image.url}}"  class="cart-img" alt="...">
		<div class="card-body">
			<h3 class="cart-title">{{product.prodcut.title}}</h3>
			<p class="cart-text"> $ {{product.prodcut.price}} </p>
		</div>
		<div class="cart-counter">
			<a href="{%url 'decrease' basket.id product.prodcut.id%}"><button>-</button></a>
			{{product.quantity}}
			<a href="{%url 'increase' basket.id product.prodcut.id%}"><button>+</button></a>
		</div>
	</div>
	{%endfor%}
</div>

{%if items.count > 0%}
<button class="btn"><a href="{%url 'checkout' %}">сформировать заказ</a></button>
{%else%}
ваша корзина пуста
{%endif%}
{%endblock%}