{%extends 'base.html '%}
{% load custom_filters %}
{%block content%}
<h1>home</h1>
{%if user.is_authenticated%}
<a href="{% url 'logout' %}" class="link">logout</a>
<div class="cards-wrapper">
	{%for product in products%}
	<div class="card">
		<img src="{{product.image.url}}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{ product.title|truncate_title }}</h5>
			<p class="card-text">{{ product.price|format_price }}</p>
			<div class="card-bottom">
				<div class="cb_btn">
					<a href="{% url 'add' product.id%}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
					<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
				  </svg>
				</a>
				</div>
				<div class="cb_btn">
					<a href="{% url 'product_details' product.id%}">details<a>
				</div>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{%else%}
<a href="{% url 'login' %}" class="link">Login</a>
{%endif%}

{%endblock%}